.links {
  display: flex;
  width: 70%;
  align-content: flex-start;
  justify-content: space-between;
  list-style: none;
  color: #5c6874;

  .link{
    display: flex;
    text-decoration: none;
    white-space: nowrap;
    color: #5c6874;
  }
}

@media screen and (max-width: 768px){
  .links {
    display: none;

  }
  
}
