.links {
  display: flex;
  width: fit-content;
  align-content: flex-start;
  justify-content: space-between;
  list-style: none;
  color: #5c6874;

  .link {
    display: flex;
    width: fit-content;
    padding: 10px;
    white-space: nowrap;
    color: #5c6874;
  }

  .link:hover{
    color: #1b88f4;
    text-decoration: underline;
  
  }
}

@media screen and (max-width: 768px) {
  .links {
    display: none;
  }
}
