* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 2rem;
  width: 100%;
  background-color: #212731;

  .navField {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjusted to space-between */
    width: 90%;

    .searchField {
      position: relative;
      display: flex;
      margin-left: auto;
      align-items: center;

      .searchFieldIcon {
        position: relative;
        background: white;
        left: 12%;
        margin-right: auto;
      }

      input {
        padding-left: 4rem;
        height: 37px;
        border-radius: 8px;
        width: 258px;
        border: 1px solid #e1e4e6;
      }
    }

    .btn {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 8px;
      background-color: #1b88f4;
      color: white;
      cursor: pointer;
      visibility: hidden;
    }

    .menu {
      display: flex;
      justify-content: space-evenly; /* Adjusted to center */
      background-color: #212731;
      width: 100%;
      cursor: pointer;
      // padding: 1rem;

      li {
        display: flex;
        align-items: center;
        width: fit-content;
        list-style: none;
        color: #d1d6da;
      }
    }

    .show {
      display: flex;
      flex-direction: column;
      position: absolute;
      cursor: pointer;
      top: 64px;
      right: 0;
      background-color: #212731;
      width: 100%;
      padding: 1rem;
      gap: 1rem;
      z-index: 100;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1rem;
        list-style: none;
        color: #d1d6da;
      }
    }
  }
}

@media screen and (max-width: 825px) {
  nav {
    .navField {
      width: fit-content;
      justify-content: center;

      .searchField {
        margin-left: auto;
        margin-right: auto;
        .searchFieldIcon {
          left: 15%;
        }
        input {
          border-radius:10px 0 0 10px;
          width: 90%;
        }
      }

      .btn {
        display: flex;
        visibility: visible;
        border-radius: 0 10px 10px 0;
      }

      .menu {
        display: none;
      }
    }
  }
}
