.main {
  display: flex;
  flex-direction: row;
  font-size: medium;
  height: 100%;
  overflow-x: auto;

  line-height: 2.5rem;
  justify-content: center;
  color: #2c384a;
}
.header {
  margin: 30px 0 10px 0;
  font-weight: 500;
}

.details {
  display: flex;
  flex-direction: column;
  width: 70%;
  /* border: 1px solid #2C384A; */
}

.segment {
  height: 1px;
  width: 100%;
  border: 1px solid #e1e4e6;
}
.segmentDetails {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.section {
  display: flex;

  gap: 10px;
  white-space: nowrap;
}

.detailIcon {
  display: flex;
  gap: 10px;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
}

/* .detailSelection{
} */
.select {
  height: 30px;
  padding: 5px;
  border: none;
}

.option{
  padding: 5px;
  border: none;
  cursor: pointer;
}

.category {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
    align-items: center;
    font-size: small;
    padding: 10px;
  }

  .sectionDetails {
    flex-direction: column;
  }

  .section {
    flex-direction: column;
    padding: 10px;
  }

  .details {
    width: 100%;
  }
  .segmentDetails {
    flex-direction: column;
  }
  .category {
    flex-direction: column;
  }
}
